[user]
	name = Dominic Chapman
	email = dominicchapman@users.noreply.github.com

[github]
  user = dominicchapman

[alias]
  cm = commit -m
  d = diff
  p = pull
  pu = push
  s = status -s

[core]
	editor = code --wait
	autocrlf = input